<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuración</title>

    <!-- Insertamos el head común -->
    <th:block th:insert="~{fragments :: head}" th:if="${readAll}"></th:block>

    
</head>

<body th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
    <!-- Navigation Bar -->
    <div th:if="${readAll}" th:replace="~{fragments :: navbar(${'configuration'})}"></div>

    <!-- Main Content -->
    <main class="container my-4">
        <div class="row mb-4">
            <div class="col-12">
                <div class="card shadow-sm">
                    <div th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
                        <div
                            th:class="${preferences.tema == 'dark' ? 'card-header bg-dark gray border-bottom' : 'card-header bg-white border-bottom'}">
                            <div th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
                                <h2 class="h4 mb-0">
                                    <i class="bi bi-gear me-2 text-primary"></i><span
                                        th:text="#{configuration.tittle}">Configutacion</span>
                                </h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mt-4" th:if="${readAll}">
                                <!-- Perfil -->
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 border-0 shadow-sm">
                                        <div
                                            th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
                                            <div class="card-body text-center">
                                                <i class="bi bi-person-circle fs-1 text-primary mb-3"></i>
                                                <h3 class="h5 card-title" th:text="#{configuration.infopersonal}">
                                                    Información Personal</h3>
                                                <p class="card-text" th:text="#{configuration.infopersonal.texto}">
                                                    Actualiza tus datos personales.</p>
                                                <a th:href="@{/user/editar}"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        th:text="#{configuration.infopersonal.boton}">Editar</span><i
                                                        class="bi bi-arrow-right ms-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Seguridad -->
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 border-0 shadow-sm">
                                        <div
                                            th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
                                            <div class="card-body text-center">
                                                <i class="bi bi-shield-lock fs-1 text-primary mb-3"></i>
                                                <h3 class="h5 card-title" th:text="#{configuration.seguridad}">Seguridad
                                                </h3>
                                                <p class="card-text" th:text="#{configuration.seguridad.texto}">Ajusta
                                                    la seguridad de tu cuenta.
                                                </p>
                                                <a th:href="@{/user/profile}"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        th:text="#{configuration.seguridad.boton}"> Configurar</span><i
                                                        class="bi bi-arrow-right ms-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Preferencias -->
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 border-0 shadow-sm">
                                        <div
                                            th:class="${preferences.tema == 'dark' ? 'bg-dark text-light' : 'bg-light text-dark'}">
                                            <div class="card-body text-center">
                                                <i class="bi bi-sliders fs-1 text-primary mb-3"></i>
                                                <h3 class="h5 card-title" th:text="#{configuration.preferences}">
                                                    Preferencias</h3>
                                                <p class="card-text" th:text="#{configuration.preferences.texto}">
                                                    Personaliza tu experiencia.</p>
                                                <a th:href="@{/objects/preferences}"
                                                    class="btn btn-outline-primary btn-sm"><span
                                                        th:text="#{configuration.preferences.boton}">Ajustar</span><i
                                                        class="bi bi-arrow-right ms-1"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div th:replace="~{fragments :: footer}" th:if="${readAll}"></div>

    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Inactivity-->
    <script src="/js/session.js"></script>
</body>

</html>